@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
header {
  font-size: 30px;
  margin: 100px 0px;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  justify-content: space-around;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weather__main {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.weather__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.info__place {
  font-weight: 500;
}
.info__temp {
  font-size: 18px;
}
.detail__temp {
  margin-bottom: 15px;
}
.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digital__btn {
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: blueviolet;
  padding: 4px 6px;
  color: aliceblue;
  border-radius: 5px;
}
.digital__btn:hover {
  cursor: pointer;
  background-color: skyblue;
  color: aliceblue;
}
.clock__analog {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: aqua;
  margin-bottom: 50px;
}
.analog__hour,
.analog__minute,
.analog__second {
  height: 2px;
  border-radius: 1px;
  background-color: black;
  position: relative;
  transform-origin: 100%;
  /* transform: rotate(90deg); */
}
.analog__hour {
  z-index: 2;
  width: 45px;
  top: 100px;
  left: -20px;
  background-color: rebeccapurple;
}

.analog__minute {
  z-index: 1;
  width: 70px;
  top: 98px;
  left: -32px;
  background-color: skyblue;
}

.analog__second {
  z-index: 3;
  width: 90px;
  top: 96px;
  left: -42px;
  background-color: red;
}
